.app__page{
    display: flex;
}
.row{
    display: flex;
}
.ui{
    width: 98%;
    margin-top: 20px;
    margin-left: 15px;
}
.embed__vid{
    margin-left: 5px;
}
.filter{
    display: flex;
    color: gray;
}
.filter > p{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
}
.list{
    margin-left: 26px;
}