.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position:sticky;
    top:20px;
    z-index:100;
}
.header__icon{
    display: flex;
    align-items: center;
    object-fit: contain;
    margin-left: 20px;
    text-decoration: none !important;
}
.header__input{
    display: flex;
    width: 40%;
    outline: none;
}
.header__input input{
    height: 27px;
    outline: none;
    padding-left: 8px;
    outline: lightskyblue;
}

.header__icons{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 140px;
    margin-right: 60px;
    justify-content: space-between;
}
.header__icon{
    margin-right: 8px;
}
.header__inputButton{
    width: 50px !important;
    border: 1px solid lightgray;
    color:gray;
    height: 29px !important;
    cursor: pointer;
}
.header__input>input{
    flex: 1;
   
}