.recommendedVideo{
    flex: 0.8;
    padding: 15px 5px;
    padding-bottom: 0;
}
.recommendedVideo >h2{
    margin-left: 5px;
    margin-bottom: 20px;
}
.recommendedVideo__videos{
    display: flex;
    flex-wrap: wrap;
   
}
