@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
.sidebarRow{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    width: 200px;
}
.sidebarRow__title{
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px;
    flex:1;
    color: #676767;
}
.sidebarRow__icon{
    color:#606060;
    font-size: large !important;
}
.sidebarRow:hover{
    background-color: lightgray;
    cursor: pointer;
}

.sidebarRow:hover > .sidebarRow__title{
    font-weight: bold;
}
.sidebarRow.selected{
    background-color: lightgray;
}
.sidebarRow.selected > .sidebarRow__icon{
    color: red;
}
.sidebarRow:hover > .sidebarRow__icon{
    color: red;
}
.sidebarRow.selected > .sidebarRow__title{
    font-weight: bold;

}

