*{
    margin: 0;
    padding: 0;
}
.TrendingVideos{
    display: flex;
    margin-top: 40px;
    cursor: pointer;
}
.TrendingVideos__image{
    position: relative;
    max-height: 180px;
}
.TrendingVideos__title{
    font-weight: 400;
}
.Trending__time{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 35px;
    bottom: -5px;
    margin: 4px;
    right: 0px;
    height: 16px;
    letter-spacing: 0.5px;
    font-size: 13px;
    padding: 1px 4px;
    font-weight: 500;
    background-color: #121212;
    font-family: sans-serif;
    color: #fff;
    border: 1px solid black;
}
.TrendingVideos__text{
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}
.TrendingVideos__info{
    padding-bottom: 12px;
    color: #626262;
    font-size: 14px;
}
.TrendingVideos__description{
    color: #626262;
    font-size: 15px;
}
