.videoRow{
   display: flex;
   margin-bottom: 10px;
}

.videoRow__image{
    width: 290px;
    height: 180px;
}
.videoRow__text{
    margin-left: 15px;
    width: 350px;
}
.videoRow__text > p{
    color: #606060;
    font-weight: 400;
    width: 350px;
}
.videoRow__text > h3{
    font-weight: 400;
    margin-bottom: 10px;
}
.videoRow__description{
    margin-top: 20px;
}
.videoRow__profile{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    color: #606060;

}
.videoRow__img{
    width: 30px !important;
    height: 30px !important;
}
.videoRow__channel{
    margin-left: 15px;
}