.videoRow{
   display: flex;
   align-items: center;
   max-width: 800px;
   margin-bottom: 30px;
}
.videoRow__image{
    width: 360px;
    height: 200px;
}
.videoRow__text{
    margin-left: 15px;
}
.videoRow__text > p{
 color: #606060;
 width: 700px;
}

.videoRow__description{
    margin-top: 20px;
}
.videoRow__profile{
    display: flex;
    align-items: center;
 color: #606060;

}
.videoRow__img{
    width: 30px !important;
    height: 30px !important;
}
.videoRow__channel{
    margin-left: 15px;
}